body {
    margin: 0px ;
    padding 0px ;
    
    
    
    color: #F6A579 ;
    background-color: #946B50 ;
    
    font-family: Montserrat, sans-serif ;
}

h1, h2, h3 {
    font-weight: bold ;
}
img{
    max-width: 100% ;
    height: auto ;
}



/* ABOUT SECTION */
#about {
    width: 100vw ;
    height: 100vh ;
    
    
}
.wrp {
    display: flex ;
    
    position: relative ;
    width: 80% ;
    height: 75% ;
    max-width: 930px ;
    
    top: 15vh ;
    padding: 0px ;
}
.title {
    position: absolute ;
    z-index: 2 ;
    
    top: 15% ;
    
    text-shadow: 0 2px 4px rgb(0 0 0 / 70%); 
    
}


.title div{
    margin-top: 10% ;
    border: 1px solid #B9DFC3 ;
}
.title h1 {
    font-size: calc(1.7rem + 2vw) ;
    font-weight: 700 ;
    color: #EEFCF1 ;
}
.title h3{
    margin-top: 5% ;
    color: #D5ECDB ;
}
.pic{
    
    display: flex ;
    text-align: center ;
    
    height: 100% ;
    padding-left: 0px ;
    padding-right: 0px ;
    
    background-image: url(Images/bg1.jpg) ;
    background-size: cover ;
    background-position: center ;
    
}

